.CTAButton {
  background-color: #000;
  color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 5px 0 10px;
}

.CTAButton:hover {
  background-color: #1C1D1F;
  color: #fff;
  cursor: pointer;
}

.ConnectWallet {
  appearance: none;
  font-family: inherit;
}
