.container {
  composes: flexCenter from '../theme/layout.module.css';
  background: #191919;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 1.5rem 1rem;
  margin-top: 3.2rem;
  width: 100%;

}

.nftContainer {
  position: relative;
  composes: flexCenter from '../theme/layout.module.css';

}

.nftImg {
  background-color: #e6e6e6;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}


.nftImg1 {
  composes: nftImg;
  background-image: url('https: //metahero-prod-game-builds.s3.amazonaws.com/nft-images/1.gif');
}

.nftImg2 {
  composes: nftImg;
  background-image: url('https: //metahero-prod-game-builds.s3.amazonaws.com/nft-images/2.gif');
}

.nftImg3 {
  composes: nftImg;
  background-image: url('https: //metahero-prod-game-builds.s3.amazonaws.com/nft-images/3.gif');
}

.tokenInfo {
  flex: 1;
  margin-left: 0.8rem;
}

.item+.item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 7px
}

.itemName {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 4px;
}

.item+.item .itemName {
  margin-top: 7px;
}

.itemValue {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
