.container {
  composes: flexCenterColumn from '../theme/layout.module.css';
  background: #191919;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 1.5rem 1rem 0.5rem;
  margin-top: 3.2rem;
  max-width: 350px;

}

.disclaimer {
  margin: 1rem 0 0.75rem;
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.infoText {
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}
