.container {
  composes: flexCenterColumn from '../theme/layout.module.css';
  padding: 3.5rem 3rem;
}

.container::after {
  content: '';
  flex: 1;
  position: absolute;
  left: 21.56%;
  right: 21.56%;
  top: -56%;
  bottom: 65%;
  background: #F6F6F6;
  opacity: 0.26;
  filter: blur(277px);
  z-index: -1;
}

.title {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.chooseAvatarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.avatar::after {
  content: '';
  flex: 1;
  position: absolute;
  width: 230px;
  height: 294px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
  opacity: 0.15;
  filter: blur(52px);
  z-index: -1;
}

.stand {
  position: absolute;
  bottom: -4%;
}

.sliderBtn {
  composes: circleBtn from '../theme/buttons.module.css';
}

.userNameInput {
  margin: 2.5rem 0 2rem;
}

.userNameInput input {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 6px 16px;
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px rgb(0 0 0 / 16%);
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.7rem;
}

.saveAvatar {
  composes: primary from '../theme/buttons.module.css';
}