.container {
  composes: flexCenterColumn from '../theme/layout.module.css';
  justify-content: space-between;
  padding: 64px 42px 42px;
}

.container::before {
  content: '';
  flex: 1;
  position: absolute;
  left: 21.56%;
  right: 21.56%;
  top: -56%;
  bottom: 65%;
  background: #F6F6F6;
  opacity: 0.26;
  filter: blur(277px);
}

.image {
  margin-top: 48px;
}

.footer {
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;
}

.playBtn {
  composes: primary from '../theme/buttons.module.css';
  composes: flexCenter from '../theme/layout.module.css';
  width: 170px;
  justify-content: space-between;
}