.main {
  width: 100%;
  height: 100%;
  background-color: #04374D;
  background-image: url('../../../assets/images/img-bg.png');
  background-repeat: no-repeat;
}

.container {
  padding: 20px 50px;
}

.mainSection {
  display: flex;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.welcomeMessage h1 {
  color: #fff;
  text-transform: none;
}
