.UserProfileHeader {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserInfo {
  display: flex;
}

.UserDetails {
  margin-left: 12px;
}

.UserDetails h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.UserDetails span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.5;
}

.WalletItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WalletItem h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.WalletItemDetails {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.WalletItemDetails span+span {
  margin-left: 8px;
}


.NotConnected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.userProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.UsernameLabel {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}
