.container {
  composes: flexCenterColumn from '../theme/layout.module.css';
  padding: 2rem 1rem 1rem;
  height: 100%;
}

.notConnected {
  composes: flexCenterColumn from '../theme/layout.module.css';
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 3rem;
}

.notConnected::before {
  content: "";
  flex: 1;
  position: sticky;
  width: 196px;
  height: 195px;
  left: 72px;
  top: 163px;
  background: #FFFFFF;
  opacity: 0.2;
  filter: blur(52px);
}

.container::after {
  content: "";
  flex: 1;
  position: absolute;
  width: 149px;
  height: 75px;
  left: 96px;
  top: 613px;
  background: #3BD6FF;
  opacity: 1;
  filter: blur(97px);
  z-index: -1;
  border-radius: 74px 74px 0 0;
}

.infoText {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 214px;
  margin-top: 208px;
}

.disclaimer {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 1rem 0 3rem;
}

.userProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
}

.settingIcon:hover {
  cursor: pointer;
}