@import url(//db.onlinewebfonts.com/c/876476f9c21d688286b0ec4bf47013a7?family=HarmonyOS+Sans);

.tosContainer {
  font-family: 'HarmonyOS Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.banner {
  text-align: center;
  vertical-align: middle;
}

.poweredBy {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.poweredBy img {
  margin-left: 16px;
}

.tosForm {
  margin-top: 100px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Checkbox styles */
label.checkbox {
  margin-right: 1rem;
  padding-left: 1.75rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}

label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox input[type=checkbox]:checked~span.indicator {
  color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75 1.66504L4.25 7.16504L1.75 4.66504' stroke='black' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

label.checkbox span.indicator {
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputLabel {
  margin-left: 16px;
  vertical-align: middle;
}

a.tosPDF {
  margin: 0;
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

.tosCTA {
  background: #3BD6FF;
  box-shadow: 0px 64px 67px rgba(0, 0, 0, 0.06), 0px 23.3611px 24.4561px rgba(0, 0, 0, 0.0413989), 0px 11.3414px 11.873px rgba(0, 0, 0, 0.0333774), 0px 5.55974px 5.82036px rgba(0, 0, 0, 0.0266226), 0px 2.19833px 2.30138px rgba(0, 0, 0, 0.0186011);
  border-radius: 38px;
  width: 444px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 64px;
  align-self: center;
}

.tosCTA:hover {
  background-color: #fff;
}
