.btn {
  box-shadow: 0px 64px 67px rgba(0, 0, 0, 0.06), 0px 23.3611px 24.4561px rgba(0, 0, 0, 0.0413989), 0px 11.3414px 11.873px rgba(0, 0, 0, 0.0333774), 0px 5.55974px 5.82036px rgba(0, 0, 0, 0.0266226), 0px 2.19833px 2.30138px rgba(0, 0, 0, 0.0186011);
  font-family: inherit;
  appearance: none;
  border: none;
  font-style: normal;
  transition: all 0.5s;
}

.btn:not([disabled]) {
  cursor: pointer;
}

.primary {
  composes: btn;
  composes: primaryBg from "./colors.module.css";
  border-radius: 38px;
  padding: 16px 32px;
  width: 148px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: auto;
  position: relative;
}

.primary:hover {
  background-color: #fff;
  color: #000;
}

.secondary {
  composes: btn;
  composes: secondaryBg from "./colors.module.css";
  border-radius: 20px;
  height: 24px;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  border: 1px solid #FFFFFF;
}

.secondary:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #FFFFFF;
}

.contrastPrimary {
  composes: primary;
  composes: secondaryBg from "./colors.module.css";
}

.circleBtn {
  composes: btn;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.circleBtn:hover {
  border: 2px solid #FFFFFF;
  background-color: #000;
  color: #fff;
}

.circleBtn:disabled {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
}

.backBtn {
  composes: btn;
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 16px 32px 16px 24px;
  filter: drop-shadow(0px 64px 67px rgba(0, 0, 0, 0.06)) drop-shadow(0px 23.3611px 24.4561px rgba(0, 0, 0, 0.0413989)) drop-shadow(0px 11.3414px 11.873px rgba(0, 0, 0, 0.0333774)) drop-shadow(0px 5.55974px 5.82036px rgba(0, 0, 0, 0.0266226)) drop-shadow(0px 2.19833px 2.30138px rgba(0, 0, 0, 0.0186011));
  border-radius: 8px;
}

.backBtn:hover {
  background: #191919;
  box-shadow: 0px 64px 67px rgba(0, 0, 0, 0.06), 0px 23.3611px 24.4561px rgba(0, 0, 0, 0.0413989), 0px 11.3414px 11.873px rgba(0, 0, 0, 0.0333774), 0px 5.55974px 5.82036px rgba(0, 0, 0, 0.0266226), 0px 2.19833px 2.30138px rgba(0, 0, 0, 0.0186011);
  border-radius: 38px;
}

.backBtn svg {
  margin-right: 1rem;
  vertical-align: middle;
}