@import url('https://db.onlinewebfonts.com/c/876476f9c21d688286b0ec4bf47013a7?family=HarmonyOS+Sans');

body {
  font-family: 'HarmonyOS Sans', sans-serif;
  margin: 24px;
  color: white;
  background-color: #000;
}
